.outer-container {
  width: fit-content;
  display: flex;
}

.inner-container:nth-child(1) {
  margin-right: 80px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

div:has(> input) {
  margin-top: 0.25em;
}

input {
  height: 2em;
}

div:has(> button) {
  margin-top: 0.5em;
}

.btc {
  margin-bottom: 2em;
}

@media screen and (max-width: 500px) {
  h1 {
    text-align: center;
  }

  .outer-container {
    width: 100%;
    justify-content: space-around;
  }

  .inner-container:nth-child(1) {
    margin-right: 0;
  }
}
