.outer-container {
  width: fit-content;
  display: flex;
}

.dollars {
  width: 29%;
  margin-right: 40px;
}

.dollar-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dollar-amount {
  margin-top: 0.25em;
}

#date {
  font-size: 14px;
  margin-top: 0.5em;
}

#reset {
  margin-top: 0.5em;
}

.crypto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: darkseagreen;
}

label {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-weight: bold;
}

.btc, .eth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btc {
  margin-bottom: 2em;
}

input {
  height: 2em;
}

.conversion-rate {
  margin-top: 0.25em;
  font-size: 12px;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  h1 {
    text-align: center;
  }

  .outer-container {
    width: 100%;
    justify-content: space-around;
  }

  .dollars {
    width: 50%;
    margin-right: 0;
  }

  .dollar-input {
    align-items: flex-start;
  }
}
