.outer-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 14px;
  font-weight: bold;
}

div:has(> input) {
  margin-top: 0.25em;
}

input {
  height: 2em;
}

div:has(> button) {
  margin-top: 0.5em;
}

.btc {
  margin-bottom: 2em;
}
